<div class="side-header">
  <div class="user-name-button">
      <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-chat-button">
    <%= link_to 'チャットを新規作成', new_room_path %>
  </div>
</div>



<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>





