/*【全体】（index.html.erbで管理）*/
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}


/*▼▼▼【ヘッダー】▼▼▼*/

/*１．親サイドヘッダー（index.html.erb >> _side_bar.html.erbで管理）*/
.side-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*１．子サイドヘッダー（index.html.erb >> _side_bar.html.erbで管理）*/
.user-name-button {
  color: #FAFAFA;
  font-size: 16px;
}

.user-name-button a{
  color: #FAFAFA;
  text-decoration: none;
}

/*１．子サイドヘッダー（index.html.erb >> _side_bar.html.erbで管理）*/
.new-chat-button {
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
}

.new-chat-button a {
  color: deepskyblue;
  text-decoration: none;
}

/*３．メインヘッダー（index.html.erb >> _main_chat.html.erbで管理）*/
.main-header {
  /* widthは親要素(.main-chat)の幅いっぱいに広がるため、指定は不要です。 */
  /* heightやpaddingなどをここで設定します。 */
  height: 100px;
  padding: 0 40px;
  background-color: #ffffff;
}


/*▼▼▼【サイドバー】▼▼▼*/

/*サイドバー地盤レイアウト（index.html.erbで管理）*/
.side-bar {
  width: 300px;
  background-color: #2F3E51;
}

/*２．チャットルーム一覧（index.html.erb >> _side_bar.html.erbで管理）*/
.rooms {
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2F3E51;
  overflow: scroll;
}

.room {
  padding: 20px 20px 40px 20px;
}

.room a {
  color: white;
  text-decoration: none;
}


/*▼▼▼【メインチャット画面】▼▼▼*/

/*メインチャット地盤レイアウト（index.html.erbで管理）*/
.main-chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

/*４．チャット内容表示エリア（index.html.erb >> _main_chat.html.erbで管理）*/
.chat-view {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  background-color: #FAFAFA;
}

/*５．入力フォーム（index.html.erb >> _main_chat.html.erbで管理）*/
.formInput {
  height: 90px;
  padding: 20px 40px;
  background-color: #DDDDDD;
}


/*
＊＊「messages.css 」は何のためにある？＊＊
これは、メッセージ関連のページ（今作っているチャット画面など）専用のスタイルを書くためのファイルです。

Railsでは、rails g controller Messages のようにコントローラーを作成すると、
それに対応するCSSファイル（app/assets/stylesheets/messages.css）も自動で生成される仕組みになっています。

・application.css: サイト全体で共通して使いたいスタイル（例: box-sizing の設定、
ヘッダーやフッターの基本デザインなど）を書きます。

・messages.css: MessagesController が管轄するビュー（index.html.erb など）にだけ適用したいといった、
ページ固有のスタイルを書きます。

.wrapper や .side-bar のようなスタイルは、
まさにこのチャット画面のためのものなので、messages.css に書くのが最適です。
*/


/*
「index.html.erb」ファイルのCSSは「messages.css」で設定して、
その設定は「index.html.erb」内にある部分テンプレートファイルの中のレイアウトにも引き継がれる.
　　　　↓　　　↓　　　↓　　　↓
＊＊なぜスタイルは引き継がれるのか？＊＊
１．サーバーでの処理（Rails）: あなたがページにアクセスすると、まずRailsサーバーが動きます。
サーバーは index.html.erb を読み込み、<%= render "side_bar" %> や <%= render "main_chat" %> を見つけると、
それぞれのパーシャルファイルの中身をその場所に合体させます。そして、1枚の完成したHTMLファイルを生成します。

２．ブラウザでの処理: ブラウザは、サーバーから送られてきたその1枚の完成したHTMLと、
application.css にまとめられたCSSファイルを受け取ります。ブラウザから見れば、元々ファイルが分かれていたことなど知る由もなく、
単純にHTMLの構造（どのクラスがどの要素の子になっているか）を見て、CSSを適用していきます。

したがって、_main_chat.html.erb の中身は <div class="main-chat"> の子要素として扱われるため、
「.main-chat」に適用されたスタイル（幅や背景色など）の影響を完全に受けるのです。
*/




/**/
/**/